
	<div data-role="content">
		<h1><%= @bloco.name %></h1>
          <img src="<%= @bloco.photo_url %>" />
        <div>
          <p>Local: <%= @bloco.venue %></p>
          <p>Local: <%= @bloco.way %></p>
          <p>Bairro: <%= @bloco.neighbor %></p>
        </div>
        <div>
          <p>Dia:<%= @bloco.date %> Horário:<%= @bloco.hour %></p>
        </div>
        <a href="/map/<%= @bloco.id %>">Mapa</a>
        <% if @needToGo %>
            <a href="/join/<%= @user_id %>/<%= @bloco.id %>" >Eu vou</a>
        <% else %>
            <a href="/disconnect/<%= @user_id %>/<%= @bloco.id %>" >Não vou</a>
        <% end %>
        <% @friends_in_bloco.each do |friend| %>
            <img src="<%= friend[:pic_small] %>" alt="<%= friend[:name] %>"/>
        <% end %>
	</div><!-- /content -->
