
	<div data-role="content">
		<h1><%= @bloco.name %></h1>
          <img src="<%= @bloco.photo_url %>" class="img-bloco" />
        <div>
          <p><strong>Local:</strong> <%= @bloco.venue %> - <a href="/map/<%= @bloco.id %>" class="mapa">Ver no Mapa</a></p>
          <p><strong>Percurso:</strong> <%= @bloco.way %></p>
          <p><strong>Bairro:</strong> <%= @bloco.neighbor %></p>
        </div>
        <div>
          <p><strong>Dia</strong>: <%= @bloco.date %> <strong>Horário:</strong> <%= @bloco.hour %></p>
        </div>

        <% if @needToGo %>
            <a href="/join/<%= @user_id %>/<%= @bloco.id %>" class="bt-ir">Eu vou! :)</a>
        <% else %>
            <a href="/disconnect/<%= @user_id %>/<%= @bloco.id %>" class="bt-nao-ir" >Não vou mais :(</a>
        <% end %>

      <p style="clear:both; margin:  20px 0 10px; float: left; color:#666666; font-style: italic;">Veja quem você conhece que vai:</p>
        <div id="amigos-no-bloco">
            <% @friends_in_bloco.each do |friend| %>
                <img src="<%= friend[:pic_small] %>" alt="<%= friend[:name] %>"/>
            <% end %>
        </div>
	</div><!-- /content -->
