<div data-role="content">
    <ul data-role="listview" data-theme="g" data-filter="false">
      <% if !@my_blocos.nil? && @my_blocos.length >= 1  %>
           <% if params[:id].nil? %>
                <%= link_to "Compartilhar o roteiro com meus amigos no Facebook", post_path, :class=>"facebook-share"  %>
            <% end %>
              <% yesterday = Date.yesterday; @my_blocos.each do |bloco| %>
                  <% if bloco.date >= yesterday %>
                    <li data-role="list-divider"><%= bloco.date.to_formatted_s :format => :long %></li>
                  <% yesterday = bloco.date; end %>
                    <li>
                       <a href="/bloco/<%= bloco.id %>">
                            <img src="<%= bloco.photo_url %>" />
                            <h3><%= bloco.name %></h3>
                            <p><%= bloco.neighbor %></p>
                            <p class="ui-li-aside"><strong><%= bloco.hour %></strong></p>
                       </a>
                    </li>
              <% end %>
          <% else %>
                    <div id="vazio">
                       <center><%= image_tag "vazio.png" %></center>
                         <% if params[:id].nil?  %>
                            <p>Você ainda não tem nenhum bloco<br />em seu roteiro.<br /> <br /> <%= link_to 'Clique aqui', blocos_path %> para ver a lista<br /> completa de blocos e comece a<br /> montar o seu roteiro agora mesmo!</p>
                         <% else %>
                            <p>Seu amigo ainda não tem nenhum bloco<br />em seu roteiro.<br /> <br /> <%= link_to 'Clique aqui', blocos_path %> para ver a lista<br /> completa de blocos e comece a<br /> montar o seu roteiro agora mesmo!</p>
                         <% end %>
                    </div>
            <% end %>
    </ul>
</div><!-- /content -->