<!DOCTYPE html>
<html>
<head>
  <title>Meus Blocos Carnaval Rio 2012</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Meus Blocos Carnaval Rio 2012" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.meus-blocos.com.br" />
<meta property="og:image" content="http://www.meus-blocos.com.br/assets/meus-blocos.png" />
<meta property="og:description" content="Em quais blocos você vai? Crie e compartilhe com os seus amigos o seu roteiro da folia nesse carnaval de rua do Rio de Janeiro!" />
<meta property="og:site_name" content="Meus Blocos 2012" />
<meta property="fb:admins" content="100000455774775" />

  <% if session[:access_token] %>
      <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <% end %>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript">
    if (String(window.location.hash).substring(0,1) == "#") {
        window.location.hash = "";
        window.location.href=window.location.href.slice(0, -1);
    }
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="celular">
    <% if session[:access_token] %>
        <div data-role="page" data-add-back-btn="true" data-back-btn-text="voltar" data-rel="back">

            <div data-role="header" data-id="myheader" data-position="fixed" >
                <h1><%= image_tag "meus-blocos-peq.png" %></h1>
            </div><!-- /header -->
    <% end %>

            <%= yield %>

    <% if session[:access_token] %>
            <div data-role="footer" data-id="myfooter" data-position="fixed">
                <div data-role="navbar">
                  <ul>
                      <li><%= link_to 'Meu Roteiro', home_path(session[:user_id]) %></li>
                      <li><%= link_to 'Amigos', friends_path %></li>
                      <li><%= link_to 'Blocos', blocos_path %></li>
                      <li><%= link_to 'Sobre', about_path %></li>
                  </ul>
                </div><!-- /navbar -->
            </div>
        </div><!-- /page -->
    <% end %>
</div>
</body>
</html>
